{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .address form {
            margin: auto;
            padding: 5% 10% 0 10%;
            width: 60%;
        }

        .flash-success {
            margin-bottom: 5%;
            padding: 0 5% 0 5%;
            background-color: #1b9448;
        }

        .flash-error {
            margin-bottom: 5%;
            padding: 0 5% 0 5%;
            background-color: #761c19;
        }

        form .invoice .leftCol {
            width: 33%;
            float: left;
        }

        form .invoice .rightCol {
            width: 60%;
            float: right;
        }

        form .dangerousGoods .leftCol {
            width: 33%;
            float: left;
        }

        form .dangerousGoods .rightCol {
            width: 60%;
            float: right;
        }

        form .duty .leftCol {
            width: 33%;
            float: left;
        }

        form .duty .rightCol {
            width: 60%;
            float: right;
        }

        form .dimensions .leftCol {
            width: 33%;
            float: left;
        }

        form .dimensions .middleCol {
            width: 33%;
            float: right;
        }

        form .dimensions .rightCol {
            width: 33%;
            float: right;
        }

    </style>
{% endblock %}

{% block title %}TNT create{% endblock %}

{% block body %}
    <div class="address form">
        {{ form_start(form) }}
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block customerArea %}
            <div class="form-group">
                {{ form_label(form.customerNumber) }}
                {{ form_widget(form.customerNumber) }}
            </div>

            {% block invoice %}
                {{ include('../form/invoice.html.twig', {childForm: form.invoice}) }}
            {% endblock invoice %}

            <div class="form-group">
                {{ form_label(form.customerInformation) }}
                {{ form_widget(form.customerInformation) }}
            </div>

        {% endblock customerArea %}

        {% block changeAddress %}
            <div>
                {{ include('../form/address.html.twig', {childForm: form.changeAddress}) }}
            </div>
        {% endblock changeAddress %}

        {% block receiverAddress %}
            {{ include('../form/address.html.twig', {childForm: form.receiverAddress}) }}
        {% endblock receiverAddress %}

        {% block deliveryAddress %}
            {{ include('../form/address.html.twig', {childForm: form.deliveryAddress}) }}
        {% endblock deliveryAddress %}

        {% block dangerousGoods %}
            {{ include('../form/dangerousGoods.html.twig', {childForm: form.dangerousGoods}) }}
        {% endblock dangerousGoods %}

        {% block service %}
            <div>
                {{ include('../form/service.html.twig', {childForm: form.services}) }}
            </div>
        {% endblock service %}
        {% block option %}
            <div class="form-group">
                {{ form_label(form.options.priority.priority) }}
                {{ form_widget(form.options.priority.priority) }}

                {{ form_label(form.options.insurance.insurance) }}
                {{ form_widget(form.options.insurance.insurance) }}

                {{ form_label(form.options.insurance.goodsValue) }}
                {{ form_widget(form.options.insurance.goodsValue) }}

            </div>
        {% endblock option %}

        <div class="form-group">
            {{ form_label(form.specialNotes) }}
            {{ form_widget(form.specialNotes) }}
        </div>

        {% block goodsTabel %}
            <div>
                {{ include('../form/table/goodstable.html.twig', {childForm: form.goodsTable}) }}
            </div>
        {% endblock goodsTabel %}
        {% block duty %}
            <div>
                {{ include('../form/duty.html.twig', {childForm: form.duty}) }}
            </div>
        {% endblock duty %}
        {{ form_widget(form._token) }}
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" > #}

        {{ form_widget(form.create) }}

        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function calculatorPiece() {
            var totalPiece = document.getElementsByClassName('totalPiece')[0];
            var goodsPiece = document.getElementsByClassName('goodsPiece');

            var calValue = 0;
            for (i = 0; i < goodsPiece.length; i++) {
                calValue += goodsPiece[i].value * 1;
            }
            totalPiece.value = calValue;
        }

        function calculatorWeight() {
            var totalWeight = document.getElementsByClassName('totalWeight')[0];
            var goodsWeight = document.getElementsByClassName('goodsWeight');

            var calValue = 0;
            for (i = 0; i < goodsWeight.length; i++) {
                calValue += goodsWeight[i].value.replace(',','.') * 1;
            }
            totalWeight.value = calValue.toFixed(2);
        }
    </script>
{% endblock %}
